<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"
    ><img src="./assets/img/book-logo.png" alt="Book Image" class="book-image"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLink="/add-book"
        routerLinkActive="activeLink"
        >Add Books
      </a>
      <a
        class="nav-item nav-link"
        routerLink="/book"
        routerLinkActive="activeLink"
        >View Books
      </a>
    </div>
  </div>
</nav>
